@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}


.auth-main {
  @include center();
  height: 100%;
  width: 100%;
  background-image: url('../../../../../public/images/bg/bg_sec.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
}
