@import '../../../scss/settings/color-variables.scss';

$padding: 20px;
$button-width: 150px;
$border-radius: 5px;

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mdc-card {
  width: calc(100vw - $padding);
  min-width: 300px;
  max-width: 500px;
  padding: $padding;

  .mat-mdc-card-header {
    @include center();
    margin-bottom: 30px;
  }
}

.mat-mdc-card-title {
  display: flex;
  justify-content: center;
}

.mat-mdc-card-subtitle {
  margin: 30px 0;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.auth-form-footer {
  text-align: right;

  .auth-forgot-password {
    position: relative;
    top: -22px;
    font-size: 13px
  }

  button {
    border-radius: $border-radius;
    width: $button-width;
  }
}

.error {
  border: 1px solid $red;
  padding: 10px;
  color: $red;
  //background-color: red;
  //display: none;
  border-radius: $border-radius;
  box-shadow: 0 0 2px;
}
