<mat-card>
  <mat-card-header>
    <mat-card-title>
      <img alt="stoom" height="86" src="images/stoom_logo.png"/>
    </mat-card-title>
    <mat-card-subtitle>stoom</mat-card-subtitle>
  </mat-card-header>
  <div class="error">
    Invalid Credentials
  </div>
  <mat-card-content>
    <form [formGroup]="signInForm">
      <div>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Username</mat-label>
          <input class="w-100" formControlName="username" matInput required type="text">
          <mat-error>@if (isControlInvalid('username', 'required')) {
            Username is required
          } </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Password</mat-label>
          <input [type]="passwordVisible()? 'text': 'password'" formControlName="password" matInput required>
          <button (click)="switchPass()"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="!passwordVisible()"
                  mat-icon-button
                  matSuffix>
            <mat-icon>{{ passwordVisible() ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          <mat-error>@if (isControlInvalid('password', 'required')) {
            Password is required
          }</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <div class="auth-form-footer">
    <div class="auth-forgot-password">
      <a class="link-text" href="#">Forgot password?</a>
    </div>
    <div>
      <button (click)="onSubmit()"
              [disabled]="!signInForm.valid"
              class="sign-in-btn"
              color="primary"
              mat-flat-button
      >Sign In
      </button>
    </div>
  </div>
</mat-card>
