/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.stoom-content {
  min-height: 100vh;
  background-color: #edebeb;
  padding: 10px;
}

mat-form-field {
  --mat-form-field-container-height: 40px;
  --mat-form-field-container-vertical-padding: 8px;
}

.mat-mdc-card-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
