<div class="toolbar">
  <mat-toolbar>
    <div class="logo">
      <span><img height="30" ngSrc="images/stoom_logo.png" width="30"></span>
    </div>
    <div>
      <input placeholder="Search..." type="text">
    </div>
    <div class="menu-right">
      <div class="nb-menu-items">
        <button aria-label="Example icon-button with heart icon" class="example-icon favorite-icon" mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button aria-label="Example icon-button with share icon" class="example-icon" mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </div>
      <div class="hbm">
        <button aria-label="Example icon-button with menu icon" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>

</div>
